.left-sidebar{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:540px;
    background-color: black;
    color:rgb(216, 216, 216);
    font-size:18px

}
.left-sidebar img{
    margin-bottom:20px;
}
.sidebar-link{
    margin-left:320px;
    
    
    
}
.sidebar-link div{
    background-color:black;
    padding:auto;
    margin-bottom:30px;
    border-radius:20px;
}
.sidebar-link:hover div{
    opacity:80%
}
.Tweetbutton2{
    background-color:rgb(29, 155, 240);
    color:white;
    padding:15px 80px 15px 80px;
    border-radius: 80px;
    font-size:15px;
    font-weight:550;
}